/* BACKGROUND COLOR */
body {
  background-color: #ffbf69;
}
/* NAVBAR */
a {
  font-family: "Cairo", sans-serif;
}

/* "CALORIE INTAKE FORM" */
h1 {
  text-align: center;
  font-family: "Cairo", sans-serif;
  color: #2ec4b6;
}

/* CHOOSE A.../QTY per cup */
label {
  font-family: "Cairo", sans-serif;
}

/* DROPDOWN LISTS */
select {
  font-family: cursive;
}

/* ADD AND RESET BUTTONS */
input {
  background-color: #817f75;
  color: white;
  justify-content: center;
}

/* "TOTAL CALORIES CONSUMED" */
p {
  text-align: center;
  font-size: 1.5rem;
}

view {
  color: rgb(8, 119, 48);
}

footer {
  padding-top: 30px;
  padding-bottom: 15px;
  text-align: center;
}

form {
  text-align: center;
}

.button {
  text-align: center;
  display: block;
  margin: 0 auto;
}

.reset {
  text-align: center;
  display: block;
  margin: 0 auto;
}

div {
  font-weight: bold;
  text-align: center;
}
