.navbar {
background-color: rgb(50, 50, 50) !important;
}
.navbar .navbar-brand {
    color: rgb(0, 177, 157);
    font-weight: bolder;
    font-size: 1.3em;
   
}
.navbar .navbar-nav {
    margin: 0 auto;
}
.navbar .nav-item a {
    color: rgba(21, 222, 225, 0.811);
}
 a.nav-link { 
    color: rgb(250, 247, 246);
    font-weight: bolder;
    font-size: 1.3em;
    padding: 20px;
    margin: 10px; 
}
*, ::after, ::before {
    box-sizing: border-box;
    margin-right: 3px;
    color: rgb(251, 185, 64);
}
.navbar-light .navbar-nav .nav-link {
    color: lightblue;
   
}
    
