*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    list-style: none;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

body{
background-color: #ff9f1c;

}

.registration{
    background: grey;
    padding: 25px;
    border-radius: 5px;
    width: 100%;
}

.registration .title{
    text-align: center;
    text-transform: uppercase;
    color: black;
    letter-spacing: 10px;
    font-weight: 700;
    font-size: 35px;

}

.form-wrap{
    margin-top: 35px;
}

.form-wrap .input-wrap .data{
    margin-bottom: 100px;
}

.form-wrap .input-wrap .contact{
    margin-top: 100px;
    display: inline-block;
}

/* section labels */
#demo, #contact, #question{
    color: #cdf3f0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 35px;
}

.data{
    /* width: 1000px; */
    display: inline-block;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: black;
    position: relative;
  
}

.contact{
    display: inline-block;
    text-align: center;
}




.button {
    font-size: 25px;
    background-color: #817f75;
    color: white;  
    width: 1000px;
    border-radius: 20px;
}

.display {
    background: #cbf3f0;
   border-radius: 20px;
   color: black;
}

input{
    color: black;
}

footer {
    background-color: #817f75;
    text-align: center;
    
}